<template>
  <section class="content">
        <div class="form-group">
        <label class = "label-content-sidemenu" >Select Device name: {{  }}</label>
          <select class="form-control" @change="eventChangeDevice($event)" style = "height: 50px;font-size: 24px;text-align: center;">
            <option v-for="device__ in dDataMoni" :key='device__[0]' :value = "device__">{{device__[0]}}</option>
          </select>
          <div v-bind:style="'color: ' + color_status"> {{ status }} </div>
        </div>
        <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>
  </section>
</template>

<script>
// import Chart from 'chart.js'

// this test device
// import SetDeviceName from '@/apis/SetDevice'
// import device from '@/apis/Devices/device'
import influx from '@/apis/influx/measurement'

export default {
  name: 'Monitor',
  components: {
  },
  data () {
    return {
      urlLink: 'http://graf.iotdma.info/sources/1/dashboards/26?present=true&refresh=5s&lower=now%28%29%20-%2030d&tempVars%5Bdevice%5D=',
      dDataMoni: [],
      thingsMonitorToken_s: '',
      thingsMonitorToken_w: '',
      status: '',
      color_status: ''
    }
  },
  computed: {
    getLocalStorage () {
      this.thingsMonitorToken_w = window.localStorage.getItem('token')
    },
    getTokenState () {
      this.thingsMonitorToken_s = this.$store.state.token
    }
  },
  mounted () {
    this.render_load()
  },
  methods: {
    async render_load () {
      if (this.$store.state.mainpage === 'iot') {
      } else {
        this.$router.push('/filter')
      }
      // console.log((window.localStorage.getItem('token') || ''))
      // const response = await device.find(null, {
      //   headers: {
      //     'Authorization': (window.localStorage.getItem('token') || '')
      //   }
      // })
      // // console.log(response.data.device)
      // response.data.device.forEach(function (item, index, arr) {
      //   arr[index] = item.device_id
      // })
      // console.log(response.data.device)
      // this.dDataMoni = response.data.device
      // const response_ = await SetDeviceName.setDevice(this.dDataMoni[0])
      // console.log(response_)
      const result = await influx.measurements()
      console.log('---------------------------------------------------------------------')
      console.log(result.data.results[0].series[0].values)
      this.dDataMoni = result.data.results[0].series[0].values
      this.urlLink = 'http://graf.iotdma.info/sources/1/dashboards/26?present=true&refresh=5s&lower=now%28%29%20-%2030d&tempVars%5Bdevice%5D=' + this.dDataMoni[0][0]
    },
    async eventChangeDevice(event) {
      console.log(event)
      this.urlLink = 'http://graf.iotdma.info/sources/1/dashboards/26?present=true&refresh=5s&lower=now%28%29%20-%2030d&tempVars%5Bdevice%5D=' + event.target.value
      // var response = await SetDeviceName.setDevice(event.target.value)
      // if (response.data.status) {
      //   this.status = 'Select Device ' + event.target.value + ' [ Success ]'
      //   this.color_status = 'green'
      // } else {
      //   this.status = 'Select Device ' + event.target.value + ' Unsuccess [ Somethings trouble ]'
      //   this.color_status = 'red'
      // }
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
</style>
