<template>
  <!-- Main content -->
  <section class="content">
    <!-- GitHub hint -->

    <!-- /.row -->
        <div class="form-group">
        <label class = "label-content-sidemenu" >Select Device name:</label>
          <select class="form-control select-content-sidemenu">
            <option v-for="i in 200" :key='i'>SM0000{{i}}</option>
          </select>
        </div>
        <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>


        <!-- <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Header</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="box-body no-padding">
            <div class="row no-gutters">
              <div class="col-md-12">
                <iframe src="http://thingboard.iotdma.info/dashboard/5956dd20-3149-11ea-8b65-274c1b956607?publicId=b65e3b00-2076-11ea-bbb4-c9c94d1ab5b1" width="100%" height="1000px" style="border: 0;"></iframe>
              </div>
            </div>
          </div>
        </div> -->
    <!-- /.row -->

    <!-- Main row -->

    <!-- /.row -->
  </section>
  <!-- /.content -->
</template>

<script>
// import Chart from 'chart.js'
import Alert from '../widgets/Alert'
import InfoBox from '../widgets/InfoBox'
import ProcessInfoBox from '../widgets/ProcessInfoBox'

export default {
  name: 'Dashboard',
  components: {
    Alert,
    InfoBox,
    ProcessInfoBox
  },
  data () {
    return {
      urlLink: 'http://thingboard.iotdma.info/dashboard/5956dd20-3149-11ea-8b65-274c1b956607?publicId=b65e3b00-2076-11ea-bbb4-c9c94d1ab5b1'
    }
  },
  computed: {

  },
  mounted () {

  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
    
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
</style>
