/* eslint-disable @typescript-eslint/class-name-casing */
/* eslint-disable @typescript-eslint/camelcase */
<template>
  <section id = "header-route" class="content">
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-12">

          <div :class="'box box-' + box_class_name.name">
            <div class="box-header with-border">
              <h3 class="box-title">{{ text_action }} <small> {{ device_id }} </small></h3>
            </div>
            <div class="box-body">
              <div class='row'>
                <div class="col-sm-12 table-responsive" style='overflow-x: scroll;'>
                  <div class="form-group">
                      <div class='row'>
                        <div class='col-md-3'>
                          <label for="exampleFormControlSelect1">เลือกเขต</label>
                          <select class="form-control" id="exampleFormControlSelect1" v-model="filter_page.area" @change="area_change()">
                            <option :value='""'>--- เลือกเขต ---</option>
                            <option v-for="(item, index) in province" :key='index' :value='index'>{{item.reg_desc}}</option>
                          </select>
                        </div>
                        <div class='col-md-3'>
                          <label for="exampleFormControlSelect2">เลือกสาขา</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="filter_page.branch" @change="branch_change()" >
                            <option :value='""'>--- เลือกสาขา ---</option>
                            <option v-for="(item, index) in branch" :key='index' :value='index'>{{item.ww_desc}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect3"> ดูข้อมูล </label><br>
                          <button class='btn btn-info' @click='confirm_select()'>ยืนยัน</button>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect3"> เลือก Topic ทั้งหมด </label><br>
                          <button class = 'btn btn-info' type ='button' @click='select_all_topic()'>เลือก</button>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect3"> ไม่เลือก Topic ทั้งหมด </label><br>
                          <button class = 'btn btn-info' type ='button' @click='unselect_all_topic()'>เลือก</button>
                        </div>
                      </div>
                      <br>
                    </div>
                    <!-- <center :hidden='check_wait'><i class="fa fa-spinner fa-spin" style= 'font-size: 30px;'></i> โปรดรอ . . . </center> -->
                    <center :hidden='check_wait'>ไม่พบข้อมูล</center>
                    <!-- <center><h1>MQTT TAG</h1></center> -->
                    <center><h1>{{filter_page.not_found_data}}</h1></center>
                    <!-- <div class='float-left'>, -->
                      <!-- <div class="row">
                        <div class='col-md-12'><button class = 'btn btn-primary' style = 'float: right;margin-bottom: 10px;' type ='button'>select all</button></div>
                      </div> -->
                  <table aria-describedby="filter_table__info" role="grid" id="filter_table_" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th v-for='(item, index) in table.fields' :key='index' colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting_asc">{{item}}</th>
                        
                        <!-- <th aria-label="DEVICE ID: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting">DEVICE ID</th>
                        <th aria-label="DEVICE NAME: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting">DEVICE NAME</th>
                        <th aria-label="STATION: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting">STATION</th>
                        <th aria-label="DETAIL: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting">DETAIL</th> -->
                        <!-- <th aria-label="MANAGE: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="filter_table_" tabindex="0" class="sorting">MANAGE</th> -->

                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for='(obj, index) in table.datas' :key='index' class="hover-table-row" role="row">
                        <td>{{obj.index}}</td>
                        <td>{{obj.topic}}</td>
                        <td>
                          <label class="container-checkbox">
                            {{(obj.filter ? 'Collect ' : 'Not Collect')}}  
                            <!-- <span :id='"status_coll_"+index'>[OK]</span> -->
                            <input type="checkbox" @click='change_filter(index)' v-model='obj.filter'> 
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td>
                          <label class="container-checkbox">
                            {{(obj.duplicate ? 'Duplicate ' : 'Not Duplicate')}}  
                            <!-- <span :id='"status_dup_"+index'>[OK]</span> -->
                            <input type="checkbox" @click='change_duplicate(index)' v-model='obj.duplicate'> 
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td>
                          <label class="text-show">
                            {{obj.period}} นาที
                            <button class='button-inde' @click='increase_decrease("increase", index)'>+</button>
                            <button :class='(table.datas[index].period == 1 ? "button-inde disableiei" : "button-inde")' @click='increase_decrease("decrease", index)' :disabled='(table.datas[index].period == 1 ? true : false)'>-</button>
                          </label>
                        </td>
                        <td>
                          <center><button class='button-delete'   @click='delete_tag(obj._id)'>ลบ</button></center>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// api
import filterApi from '@/apis/filter/call'

import moment from 'moment'
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'filterTag',
  components: {
  },
  data () {
    return {
      filter_page: {
        area: '',
        branch: '',
        province_d: [],
        branch_d: [],
        update_message: '',
        update_status: false,
        update_class: 'status-ok'
      },
      start_datetime: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS+00:00'),
      stop_datetime: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS+00:00'),
      selected_td: 0,
      select_td: [
        {
          param: '5m',
          text: 'Past 5m'
        }, {
          param: '15m',
          text: 'Past 15m'
        }, {
          param: '1h',
          text: 'Past 1h'
        }, {
          param: '6h',
          text: 'Past 6h'
        }, {
          param: '12h',
          text: 'Past 12h'
        }, {
          param: '24h',
          text: 'Past 24h'
        }, {
          param: '2d',
          text: 'Past 2d'
        }, {
          param: '7d',
          text: 'Past 7d'
        }, {
          param: '15d',
          text: 'Past 15d'
        }, {
          param: '30d',
          text: 'Past 30d'
        }
      ],
      check_wait: false,
      province: [],
      branch: [],
      station_code: [],
      station_type: [],
      station_name: [],
      device_code: [],
      name: [],
      code: [],
      urlLink: 'http://thingboard.iotdma.info/',
      dDataE: Object,
      isAddDevice: false,
      text_action: '',
      device_id: '',
      update_device_status: {
        status: false,
        col: 12
      },
      box_class_name: {
        name: 'info',
        text: 'SAVE'
        // danger for delete
        // warning for update
        // default
      },
      var_disabled: false,
      payload_delete: 'Confirm Delete Device',
      message_for_user: '',
      table: {
        raw_data: [],
        fields: [
          '#',
          'Topic',
          'เลือก Topic',
          'กำหนด Duplicate',
          'กำหนด Period',
          'ลบ'
          // ''
        ],
        datas: [],
        fields_raw: [],
        datas_raw: [],
        selected_area: '',
        selected_branch: '',
        selected_branch_code: '',
        selected_station_code: '',
        selected_station_type: '',
        selected_station_name: '',
        selected_device_code: '',
        selected_name: '',
        selected_code: '',
        selected_val: [],
        temp_data: []
      }
    }
  },
  computed: {
    // appenddDataE () {
    //   // this.dDataE.device_name.push('--- Insert Device ---')
    // }
  },
  mounted() {
    this.render_load()
  },
  methods: {
    async unselect_all_topic() {
      var data = {
        collect: false,
        branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww.toString()
      }
      console.log(data)
      var res = await filterApi.filter_update_all(data)
      if (res.status === 200) {
        location.reload()
      } else {
        alert('API [Error]')
      }
    },
    async select_all_topic() {
      var data = {
        collect: true,
        branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww.toString()
      }
      console.log(data)
      var res = await filterApi.filter_update_all(data)
      console.log(res)
      if (res.status === 200) {
        location.reload()
      } else {
        alert('API [Error]')
      }
    },
    async updateApi (index, data) {
      var res = await filterApi.filter_update(data)
      console.log(res.status)
      if (res.status !== 200) {
        alert('Server Error.')
      }
    },
    async increase_decrease(event, index) {
      switch (event) {
        case 'increase':
          this.table.datas[index].period += 1
          var data1 = {
            topic: this.table.datas[index].topic,
            filter: this.table.datas[index].filter,
            branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww,
            duplicate: this.table.datas[index].duplicate,
            period: this.table.datas[index].period
          }
          this.updateApi(index, data1)
          break
        case 'decrease':
          this.table.datas[index].period -= 1
          var data2 = {
            topic: this.table.datas[index].topic,
            filter: this.table.datas[index].filter,
            branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww,
            duplicate: this.table.datas[index].duplicate,
            period: this.table.datas[index].period
          }
          this.updateApi(index, data2)
          break
      }
    },
    async change_duplicate(index) {
      var data = {
        topic: this.table.datas[index].topic,
        filter: this.table.datas[index].filter,
        branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww,
        duplicate: !this.table.datas[index].duplicate,
        period: this.table.datas[index].period
      }
      this.updateApi(index, data)
    },
    async change_filter(index) {
      var data = {
        topic: this.table.datas[index].topic,
        filter: !this.table.datas[index].filter,
        branch_code: this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww,
        duplicate: this.table.datas[index].duplicate,
        period: this.table.datas[index].period
      }
      this.updateApi(index, data)
    },
    select_init () {
      // set [ area ]
      if (window.localStorage.getItem('area_filter') === null) {
        this.filter_page.area = ''
      } else {
        this.filter_page.area = window.localStorage.getItem('area_filter')
        this.area_change()
      }
      // set [ branch_code ]
      if (window.localStorage.getItem('branch_filter') === null) {
        this.filter_page.branch = ''
      } else {
        this.filter_page.branch = window.localStorage.getItem('branch_filter')
        // this.branch_change()
      }
    },
    area_change () {
      this.branch = (this.province[this.filter_page.area].ww_all)
      this.filter_page.branch = ''
    },
    // async branch_change () {
    //   console.log(this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww)
    //   console.log(this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww_desc)
    // },
    confirm_select() {
      window.localStorage.setItem('area_filter', this.filter_page.area)
      window.localStorage.setItem('branch_filter', this.filter_page.branch)
      console.log(this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww)
      console.log(this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww_desc)
      window.location.reload()
    },
    async render_load () {
      var res1 = await filterApi.provice()
      this.province = res1.data[0].detail
      this.select_init()
      console.log({
        'branch_code': this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww
      })
      var res2 = await filterApi.filter({
        'branch_code': this.province[this.filter_page.area].ww_all[this.filter_page.branch].ww
      })
      if (res2.status === 200) {
        if (res2.data.filter.length === 0) {
          this.filter_page.not_found_data = 'ไม่พบข้อมูล'
        } else {
          res2.data.filter.forEach((item, index, arr) => {
            this.table.datas.push({
              _id: item._id,
              index: index + 1,
              topic: item.topic,
              filter: item.collect,
              duplicate: item.duplicate,
              period: item.period
              // filter: item.filter
            })
          })
        }
      } else {
        this.filter_page.not_found_data = 'Server Error.'
      }
      console.log(this.table.datas)
      this.check_wait = true // disable spiner
      this.$nextTick(() => {
        $('#filter_table_').DataTable(
          {
            'lengthMenu': [
              [10, 50, -1], [10, 50, 'All']
            ],
            buttons: [
              {
                text: 'My button',
                action: (e, dt, node, config) => {
                  alert('Button activated')
                }
              }
            ]
          }
        )
      })
    },
    async delete_tag (_id) {
      const res = await filterApi.filter_delete(_id)
      if (res.status === 200) {
        window.location.reload()
      }
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .box-info{
    border-color: #166a99 !important;
  }
  .border-insert-device{
    margin-top: 30px;
    border: solid 2px #166a99;
    border-radius: 4px;
  }
</style>
<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      cursor: pointer;
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
    .container-checkbox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container-checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container-checkbox:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-checkbox input:checked ~ .checkmark {
      background-color: #176a99;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container-checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container-checkbox .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .status-ok {
      color: #1db00b;
    }
    .status-fail {
      color: red;
    }
    .text-show {
      font-size: 16px;
    }
    .button-inde {
      background-color: #176a99; /* Green */
      border: none;
      color: white;
      padding: 4px 10px;
      /* padding-left: 35px; */
      margin-bottom: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      /* margin: 4px 2px; */
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .disableiei {
      background-color: #707d84; /* Green */
    }
    .button-delete{
      background-color: #f54848; /* Green */
      color: #ffffff;
      border: 0px;
      padding: 2px 8px 2px 8px;
    }
</style>
