<template>
  <footer class="main-footer">
    <strong>&copy; {{ 2020 }}
    <a href="https://www.pwa.co.th/">Device Management Application</a>.</strong> การประปาส่วนภูมิภาค
  </footer>
</template>

<script>
export default {
  name: 'DashFooter',
  data: function () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>
