<template>
  <header class="main-header">
    <span class="logo-mini">
      <a @click='changeLink()'><img src="/static/img/logo_test.svg" alt="Logo" class="img-responsive center-block logo"></a>
      <!-- <a :href="($store.state.mainpage === 'iot' ? '/' : '/scadatable')"><img src="/static/img/logo.svg" alt="Logo" class="img-responsive center-block logo"></a> -->
    </span>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <!-- <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a> -->

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- <messages-menu></messages-menu>
          <notifications-menu></notifications-menu>
          <tasks-menu></tasks-menu> -->
          <user-menu :user="user"></user-menu>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapState } from 'vuex'
import MessagesMenu from './MessagesMenu'
import NotificationsMenu from './NotificationsMenu'
import TasksMenu from './TasksMenu'
import UserMenu from './UserMenu'

export default {
  name: 'DashHeader',
  components: {
    MessagesMenu,
    NotificationsMenu,
    TasksMenu,
    UserMenu
  },
  props: ['user'],
  methods: {
    changeLink() {
      if (this.$store.state.mainpage === 'iot') {
        this.$router.push('/')
      } else {
        this.$router.push('/filter')
      }
    }
  },
  computed: {
    ...mapState([
      'userInfo'
    ])
  }
}
</script>
