<template>
  <ul class="sidebar-menu">
    <li class="header">TOOL</li>
    
    <!-- <router-link v-if="checkAdmin && $store.state.mainpage === 'iot'" tag="li" class="pageLink" to="/thingsboardmoniter">
      <a>
        <i class="fa fa-desktop" style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> Thingsboard</span>
      </a>
    </router-link> -->


    <li v-if="$store.state.mainpage === 'iot'" class="treeview">
      <a href="#">
        <i class="fa fa-tachometer"  style = 'color: #b4b4b5 !important;'></i>
        <span class="treeview-title">Chronograf</span>
        <span class="pull-right-container pull-right">
          <i class="fa fa-angle-left fa-fw"></i>
        </span>
      </a>
      
      <ul class="treeview-menu">
        <li>
          <router-link tag="li" class="Link-router" to="/thingsboardmoniter">
            <a href="#">
              <i class="fa fa-desktop" style = "padding-right: 10px;padding-bottom: 10px;color: #b4b4b5 !important;"></i> Monitor
            </a>
          </router-link>
        </li>
        <li>
          <router-link tag="li" class="Link-router" to="/thingsboardedit">
            <a href="#">
              <i class="fa fa-pencil-square-o" style = "padding-right: 10px;padding-bottom: 10px;color: #b4b4b5 !important;"></i> Edit Chronograf
            </a>
          </router-link>
        </li>
        <li>
          <router-link hidden  tag="li" class="Link-router" to="/addDevice">
            <a href="#">
              <i class="fa fa-pencil" style = "padding-right: 10px;padding-bottom: 10px;color: #b4b4b5 !important;"></i> Add Device
            </a>
          </router-link>
        </li>
      </ul>
    </li>
    
    <router-link v-if="$store.state.mainpage === 'iot'" tag="li" class="pageLink" to="/EMQ"> 
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> EMQ</span>
      </a>
    </router-link>

    <router-link v-if="$store.state.mainpage === 'scada'" tag="li" class="pageLink" to="/filter">
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> MQTT Collect Topic </span>
      </a>
    </router-link>

    <router-link v-if="$store.state.mainpage === 'scada'" tag="li" class="pageLink" to="/scadatable">
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> Data History</span>
      </a>
    </router-link>

    <router-link v-if="$store.state.mainpage === 'scada'" tag="li" class="pageLink" to="/svgView">
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> SVG Viewer</span>
      </a>
    </router-link>

    <router-link v-if="$store.state.mainpage === 'scada'" tag="li" class="pageLink" to="/svgEditer">
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> SVG Editer</span>
      </a>
    </router-link>

    <!-- <router-link v-if="$store.state.mainpage === 'scada'" tag="li" class="pageLink" to="#" target="_blank" @click="opneUrl()"> -->
      <li hidden class="pageLink" @click="opneUrl()" style = 'cursor: pointer;'>
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> Chonograf</span>
      </a>
      </li>
    <!-- </router-link> -->


    <router-link v-if="checkAdmin" tag="li" class="pageLink" to="/Register">
      <a>
        <i class="fa fa-circle-o " style = 'color: #b4b4b5 !important;'></i>
        <span class="page"> Manage User</span>
      </a>
    </router-link>


    <li class="header">Logout</li>
    <router-link tag="li" class="pageLink" to="/login">
      <a>
        <i class="fa fa-sign-out text-red"></i>
        <span class="page"> Logout </span>
      </a>
    </router-link>
  </ul>
  
</template>
<script>
export default {
  name: 'SidebarMenu',
  data () {
    return {
      isPage: 'scada'
    }
  },
  methods: {
    opneUrl() {
      window.open('http://graf.iotdma.info/sources/1/status', '_blank')
    }
  },
  computed: {
    checkAdmin () {
      return window.localStorage.getItem('type') === 'admin'
    }
    // check_page () {
    //   if (this.$store.state.mainpage !== this.isPage) {
    //     this.$router.push('/login')
    //   }
    // }
  },
  mounted () {
    // if (this.$store.state.mainpage !== this.isPage) {
    //   this.$router.push('/login')
    // }
  }
}
</script>
<style>
/* override default */
.sidebar-menu > li > a {
  padding: 12px 15px 12px 15px;
}

.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  animation-name: rotate;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.treeview-title {
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
</style>

<style>
  .Link-router{
    padding-left:20px;
    padding-top:10px;
  }
  .Link-router:hover{
    background-color: #5c6062;
  }
</style>
