<template>
  <div :class="['wrapper', classes]">

    <!-- call export 'DashHeader' -->
    <dash-header :user="user"></dash-header>
    
    <!-- call export 'Sidebar' -->
    <sidebar :user="user" />
  
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          {{ $route.name.toUpperCase() }}
          <small>{{ $route.meta.description }}</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="javascript:;">
              <i class="fa fa-home"></i>Home</a>
          </li>
          <li class="active">{{$route.name.toUpperCase()}}</li>
        </ol>
      </section>

      <router-view></router-view>
    </div>

    <!-- call export 'DashFooter' -->
    <dash-footer></dash-footer>
  </div>
</template>

<script>

// this test user api
// import AUsers from '@/apis/user.json'

// import faker from 'faker'
import config from '../config'

// this is components
import DashFooter from './layout/DashFooter'
import DashHeader from './layout/DashHeader'
import Sidebar from './layout/Sidebar'

import 'hideseek'

// import profile image
import profileImage from '@/assets/profileImage/admin.png'

export default {
  name: 'Dash',
  components: {
    DashFooter,
    DashHeader,
    Sidebar
  },
  data: function () {
    return {
      classes: {
        fixed_layout: config.fixedLayout,
        hide_logo: config.hideLogoOnMobile
      }
    }
  },
  computed: {
    user () {
      return {
        displayName: this.$store.state.email,
        avatar: profileImage,
        roles: [ this.$store.state.type ]
      }
    }
  }
}
</script>

<style>
.wrapper.fixed_layout .main-header {
  position: fixed;
  width: 100%;
}
.wrapper.fixed_layout .content-wrapper {
  padding-top: 50px;
}
.wrapper.fixed_layout .main-sidebar {
  position: fixed;
  height: 100vh;
}

@media (max-width: 767px) {
  .wrapper.hide_logo .main-header .logo {
    display: none;
  }
}

.logo-mini,
.logo-lg {
  text-align: left;
}
.logo-mini img,
.logo-lg img {
  padding: 0.2em !important;
  padding-left: 0.7em !important;
  padding-right: 0em !important;
}

.logo-lg img {
  display: -webkit-inline-box;
  width: 25%;
}

.user-panel {
  height: 4em;
}

hr.visible-xs-block {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.17);
  height: 1px;
  border-color: transparent;
}
</style>
