<template>
  <div id="login">
    <img src="/static/img/logo.png" class="center-block logo">
    <!-- <center ><small>{{ "call from tag" | DateAndTime }}</small></center>
    <center ><small>{{ call_from_fn }}</small></center> -->

      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <center style="padding: 0 0 20px 0;">
        <p1 style = 'font-size: 25px; color: #fff;'>
          <span class='pwa-title-1-5'>เครื่องมือเชื่อมโยงฐานข้อมูล</span><br>
          <span class='pwa-title-1'>การประปาส่วนภูมิภาค</span>
        </p1>
        </center>
              <!-- login form -->
        <form @submit.prevent="checkCreds">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
            <input class="form-control" name="username" placeholder="Username" type="text" v-model="username">
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" name="password" placeholder="Password" type="password" v-model="password">
          </div>
          <div class="input-group">
            <button type="submit" :disabled="this.username === '' || this.password === ''" v-bind:class="'vertical-2p btn btn-default btn-lg form-control ' + loading"><i class="fa fa-sign-in"></i>  Login</button>
          </div>
        </form>
        <!-- errors -->
        <!-- <div v-if=response class="text-red font-login-"><p class="vertical-5p lead">{{response}}</p></div> -->
        <div v-if=response class="text-red font-login-"><p class="vertical-5p lead-26"><center>{{response}}</center></p></div></div>
      <div class='col-md-2'></div>
      
      <div class="text-center col-md-3"></div>
      <div class="text-center col-md-6">

      </div>
      <div class="text-center col-md-3"></div>
    </div>
</template>

<script>

import ApiAuth from '@/apis/Login/Authentication'

export default {
  name: 'Login',
  data(router) {
    return {
      section: 'Login',
      loading: '',
      username: '',
      password: '',
      response: '',
      call_from_fn: ''
    }
  },
  beforeMount () {
    this.deleteLocalStorage()
    console.log(this.$options.filters.DateAndTime('function'))
    console.log(this.$options)
    this.call_from_fn = this.$options.filters.DateAndTime('function')
  },
  methods: {
    deleteLocalStorage () {
      console.log('computed')
      if (window.localStorage) {
        window.localStorage.removeItem('user')
        window.localStorage.removeItem('token')
        window.localStorage.removeItem('type')
        window.localStorage.removeItem('email')
      }
      this.$store.commit('SET_TOKEN', null)
      this.$store.commit('SET_USER', null)
      this.$store.commit('SET_TYPE', null)
      this.$store.commit('SET_EMAIL', null)
    },
    async checkCreds () {
      this.toggleLoading()
      this.resetResponse()
      this.$store.commit('TOGGLE_LOADING')
      try {
        const response = await ApiAuth.Authen({
          user: {
            username: this.username,
            password: this.password
          }
        })
        var data = response.data.user
        console.log(data)
        if (data.data === 1) {
          this.$store.commit('TOGGLE_LOADING')
          var token = 'Bearer ' + data.auth.token
          if (window.localStorage) {
            window.localStorage.setItem('token', token)
            window.localStorage.setItem('user', data.auth.username)
            window.localStorage.setItem('type', data.auth.type)
            window.localStorage.setItem('email', data.auth.email)
            window.localStorage.setItem('token', data.auth.token)
            window.localStorage.setItem('branch_id', 0)
            window.localStorage.setItem('area_id', 0)
            window.localStorage.setItem('mainpage', data.auth.mainsite)
          }
          this.$store.commit('SET_TOKEN', token)
          this.$store.commit('SET_USER', data.auth.username)
          this.$store.commit('SET_TYPE', data.auth.type)
          this.$store.commit('SET_EMAIL', data.auth.email)
          this.$store.commit('SET_MAINPAGE', data.auth.mainsite)
          console.log('==================== get state ====================')
          console.log(this.$store.state.token)
          console.log('==================== local storage ================')
          console.log(window.localStorage.getItem('token'))
          console.log('===================================================')
          // goto thingsboard
          if (data.auth.mainsite === 'scada') {
            this.$router.push('/filter')
          } else {
            this.$router.push('/')
            this.response = 'Can\'t login'
          }
        } else {
          this.response = 'Username and Password invalid.'
        }
      } catch (error) {
        alert(error)
      }
    },
    toggleLoading() {
      this.loading = this.loading === '' ? 'loading' : ''
    },
    resetResponse() {
      this.response = ''
    }
  }
}
</script>

<style>
#login {
  padding: 5em;
}

html,
body,
.container-table {
  /* height: 100%; */
  background-color: #176a99 !important;
  /* opacity: 0.9; */
}
.container-table {
  display: table;
  color: white;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.vertical-20p {
  padding-top: 20%;
}
.vertical-10p {
  padding-top: 10%;
}
.vertical-5p {
  padding-top: 5%;
}
.vertical-4p {
  padding: 4%;
}
.vertical-3p {
  padding: 3%;
}
.vertical-2p {
  padding: 2%;
  padding-bottom: 4%;
}
.vertical-1p {
  padding: 1%;
}
.logo {
  width: 18em;
  padding: 2em;
}

.input-group {
  padding-bottom: 1em;
  height: 2em;
  width: 100%;
}

.input-group span.input-group-addon {
  width: 0.1em;
  height: 0.8em;
}

@media (max-width: 1241px) {
  .input-group input {
    height: 4em;
  }
}
@media (min-width: 1242px) {
  form {
    padding-left: 20em;
    padding-right: 20em;
  }

  .input-group input {
    font-size: 1.8em;
    height: 1.7em;
  }
}

.lead-26 {
  font-size: 26px;
}

.input-group-addon i {
  height: 15px;
  width: 15px;
}
.pwa-title-1-5 {
  font-size: 1.5em !important;
}
.pwa-title-1 {
  font-size: 1em !important;
}
</style>
