<template>
    <div class=''>
      <hr>
      <center :hidden='table_day.check_wait'>ไม่พบข้อมูล</center>
      <center><h4 class='content-day'>Daily Data</h4></center>
      <table aria-describedby="table_day_info" role="grid" id="table_day" class="table table-bordered table-striped dataTable">
          <thead>
          <tr role="row">
              <th v-for='(item, index) in table_day.fields' :key='index' colspan="1" rowspan="1" aria-controls="table_day" tabindex="0" class="sorting_asc">{{item}}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for='(obj, index) in table_day.datas' :key='index' class="hover-table-row" role="row">
              <td>{{ obj[0] }}</td>
              <td>{{ obj[1] }}</td>
              <td>{{ obj[2] }}</td>
              <td>{{ obj[3] }}</td>
              <td>{{ obj[4] }}</td>
              <td>{{ obj[5] }}</td>
          </tr>
          </tbody>
      </table>
      <hr>
    </div>
</template>

<script>
  export default {
    name: 'scadaTBDay',
    data () {
      return {
      }
    },
    props: {
      table_day: {
        type: Object
      }
    },
    methods: {
    }
  }
</script>

<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      /* cursor: pointer; */
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
    .link-raw{
      color:darkblue;
      text-decoration: underline;
      -webkit-text-decoration-color: darkblue; /* Safari */  
      text-decoration-color: darkblue;
    }
    .link-raw:hover{
      cursor: pointer;
    }
    .content-day {
      font-size: 2em;
      font-weight: 550;
    }
</style>
