<template>
    <div class=''>
      <hr>
      <center :hidden='check_wait'>ไม่พบข้อมูล</center>
      <center><h4 class='content-hour-raw'>Raw Data</h4></center>
      <span :hidden='(!check_wait ? true : false)' style = 'color: black;font-weight: 600;' align="left">ช่วงเวลา : </span><span :hidden='(!check_wait ? true : false)' style = 'color: blue;font-weight: 600;' align="left">{{(show_raw_startdate + ' - ' + show_raw_stopdate)}}</span><br><br>
      <table aria-describedby="raw_data_info" role="grid" id="raw_data" class="table table-bordered table-striped dataTable">
          <thead>
            <tr role="row">
                <th v-for='(item, index) in table.fields_raw' :key='index' colspan="1" rowspan="1" aria-controls="raw_data" tabindex="0" class="sorting_asc">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='(obj, index) in table.datas_raw' :key='index' class="hover-table-row" role="row">
                <td v-for='(item1, index1) in obj' :key='index1'>{{ item1 }}</td>
            </tr>
          </tbody>
      </table>


      <center><h4 class='content-hour'>Hourly Data</h4></center>
      <table aria-describedby="table_hour_info" role="grid" id="table_hour" class="table table-bordered table-striped dataTable">
          <thead>
          <tr role="row">
              <th v-for='(item, index) in table.fields' :key='index' colspan="1" rowspan="1" aria-controls="table_hour" tabindex="0" class="sorting_asc">{{item}}</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for='(obj, index) in table.datas' :key='index' class="hover-table-row" role="row">
              <td>{{ obj[0] }}</td>
              <td>{{ obj[1] }}</td>
              <td>{{ obj[2] }}</td>
              <td>{{ obj[3] }}</td>
              <td>{{ obj[4] }}</td>
              <td>{{ obj[5] }}</td>
              <td><span class='link-raw' @click='view_raw_data_onload(index)'>{{ obj[6] }}</span></td>
          </tr>
          </tbody>
      </table>
    </div>
</template>

<script>
  export default {
    name: 'scadaTBHour',
    data () {
      return {
      }
    },
    props: {
      view_raw_data_onload: {
        type: Function
      },
      check_wait: {
        type: Boolean
      },
      table: {
        type: Object
      },
      show_raw_startdate: {
        type: String
      },
      show_raw_stopdate: {
        type: String
      }
    },
    methods: {
    }
  }
</script>

<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      /* cursor: pointer; */
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
    .link-raw{
      color:darkblue;
      text-decoration: underline;
      -webkit-text-decoration-color: darkblue; /* Safari */  
      text-decoration-color: darkblue;
    }
    .link-raw:hover{
      cursor: pointer;
    }
    .content-hour {
      font-size: 2em;
      font-weight: 550;
    }
    .content-hour-raw {
      font-size: 2em;
      font-weight: 500; 
    }
</style>
