/* eslint-disable @typescript-eslint/class-name-casing */
/* eslint-disable @typescript-eslint/camelcase */
<template>
  <section id = "header-route" class="content">
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-12">
          <div :class="'box box-' + box_class_name.name">
            <div class="box-header with-border">
              <h3 class="box-title">{{ text_action }} <small> {{ device_id }} </small></h3>
            </div>
            <div class="box-body">
              <div class='row'>
                <div class="col-sm-12 table-responsive" style='overflow-x: scroll;'>
                  <div class="form-group">
                      <div class='row'>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect1">เลือกเขต</label>
                          <select class="form-control" id="exampleFormControlSelect1" v-model="table.selected_area" @change="area_change()">
                            <option :value='""'>--- เลือกเขต ---</option>
                            <option v-for="(item, index) in province" :key='index' :value='index'>{{item.reg_desc}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือกสาขา</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_branch" @change="branch_change()" >
                            <option :value='""'>--- เลือกสาขา ---</option>
                            <option v-for="(item, index) in branch" :key='index' :value='index'>{{item.ww_desc}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Station Code</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_station_code" @change="fn_station_code()" >
                            <option :value='""'>--- เลือก Station Code ---</option>
                            <option v-for="(item, index) in station_code" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Station Type</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_station_type" @change="fn_station_type()" >
                            <option :value='""'>--- เลือก Station Code ---</option>
                            <option v-for="(item, index) in station_type" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Station Name</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_station_name" @change="fn_station_name()" >
                            <option :value='""'>--- เลือก Station Name ---</option>
                            <option v-for="(item, index) in station_name" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Device Code</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_device_code" @change="fn_device_code()" >
                            <option :value='""'>--- เลือก Device Code ---</option>
                            <option v-for="(item, index) in device_code" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <!-- <div class='col-md-2' hidden>
                          <label for="exampleFormControlSelect2">เลือกเวลา</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="selected_td"  @change="dt_change">
                            <option :value='""'>--- เลือกเวลา ---</option>
                            <option v-for="(item, index) in select_td" :key='index' :value='index'>{{item.text}}</option>
                          </select>
                        </div> -->
                      </div>
                      <br>
                      <div class='row'>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Name</label>
                          <select class="form-control" id="exampleFormControlSelect2"  v-model="table.selected_name" @change="fn_name()" >
                            <option :value='""'>--- เลือก Name ---</option>
                            <option v-for="(item, index) in name" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect2">เลือก Code</label>
                          <select class="form-control" id="exampleFormControlSelect2" v-model="table.selected_code" @change="fn_code()" >
                            <option :value='""'>--- เลือก Code ---</option>
                            <option v-for="(item, index) in code" :key='index' :value='index'>{{item}}</option>
                          </select>
                        </div>
                        <div class='col-md-3'>
                          <label for="exampleFormControlSelect2">Start Date</label>
                          <VueCtkDateTimePicker 
                          :input='timeChanged()'
                            v-model="start_datetime"
                            color= "#176a99"
                            buttonColor = "#176a99"
                            format='YYYY-MM-DDTHH:mm:ss.SSS+00:00'
                          />
                        </div>
                        <div class='col-md-3'>
                          <label for="exampleFormControlSelect2">Stop Date</label>
                          <VueCtkDateTimePicker 
                          :input='timeChanged()'
                          v-model="stop_datetime" 
                          color = "#176a99"
                          buttonColor = "#176a99"
                          format='YYYY-MM-DDTHH:mm:ss.SSS+00:00'
                          />
                        </div>
                        <div class='col-md-2'>
                          <label for="exampleFormControlSelect3"> ดูข้อมูล </label><br>
                          <button class='btn btn-info' @click='confirm_select()' :disabled='check_diff_time'>ยืนยัน</button>
                          <span style = 'color:red;font-size: 12px;'> {{check_diff_time_mess}}</span>
                        </div>
                      </div>
                      
                    </div>
                    <!-- <center :hidden='check_wait'><i class="fa fa-spinner fa-spin" style= 'font-size: 30px;'></i> โปรดรอ . . . </center> -->
                    <center :hidden='check_wait'>ไม่พบข้อมูล</center>
                    <center><h1>Aggregate Data</h1></center>
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th v-for='(item, index) in table.fields' :key='index' colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">{{item}}</th>
                        
                        <!-- <th aria-label="DEVICE ID: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE ID</th>
                        <th aria-label="DEVICE NAME: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE NAME</th>
                        <th aria-label="STATION: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">STATION</th>
                        <th aria-label="DETAIL: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DETAIL</th> -->
                        <!-- <th aria-label="MANAGE: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">MANAGE</th> -->

                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for='(obj, index) in table.datas' :key='index' class="hover-table-row" role="row">
                        <!-- <td v-for='(item1, index1) in obj' :key='index1' @click='view_raw_data_onload(index)'>{{ item1 }}</td> -->
                        <td>{{ obj[0] }}</td>
                        <td>{{ obj[1] }}</td>
                        <td>{{ obj[2] }}</td>
                        <td>{{ obj[3] }}</td>
                        <td>{{ obj[4] }}</td>
                        <td>{{ obj[5] }}</td>
                        <td><span class='link-raw' @click='view_raw_data_onload(index)'>{{ obj[6] }}</span></td>
                        <!-- <td> <button class='btn btn-success' @click="deventClick_choose($event,index)"> Choose Device </button> </td> -->
                      </tr>
                    </tbody>
                  </table>

                  <hr>
                  <center><h1>Raw Data </h1></center>
                  <span :hidden='(!check_wait ? true : false)' style = 'color: black;font-weight: 600;' align="left">ช่วงเวลา : </span><span :hidden='(!check_wait ? true : false)' style = 'color: blue;font-weight: 600;' align="left">{{(show_raw_startdate + ' - ' + show_raw_stopdate)}}</span><br><br>
                  <table aria-describedby="example1_info" role="grid" id="raw_data" class="table table-bordered table-striped dataTable">
                    <thead>
                      <tr role="row">
                        <th v-for='(item, index) in table.fields_raw' :key='index' colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">{{item}}</th>
                        
                        <!-- <th aria-label="DEVICE ID: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE ID</th>
                        <th aria-label="DEVICE NAME: activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DEVICE NAME</th>
                        <th aria-label="STATION: activate to sort column ascending" style="width: 142px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">STATION</th>
                        <th aria-label="DETAIL: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">DETAIL</th> -->
                        <!-- <th aria-label="MANAGE: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">MANAGE</th> -->

                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for='(obj, index) in table.datas_raw' :key='index' class="hover-table-row" role="row">
                        <td v-for='(item1, index1) in obj' :key='index1'>{{ item1 }}</td>
                        <!-- <td> <button class='btn btn-success' @click="deventClick_choose($event,index)"> Choose Device </button> </td> -->
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// api
import table from '@/apis/Table/call'
import datepicker from 'vue-date-picker'
import moment from 'moment'
import province from '@/apis/province.json'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css'
import $ from 'jquery'
require('datatables.net')
require('datatables.net-bs')

export default {
  name: 'AddDevice',
  components: {
    datepicker,
    VueCtkDateTimePicker: VueCtkDateTimePicker
  },
  data () {
    return {
      start_datetime: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS+00:00'),
      stop_datetime: moment(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS+00:00'),
      check_diff_time: true,
      check_diff_time_mess: '',
      show_raw_startdate: '',
      show_raw_stopdate: '',
      selected_td: 0,
      select_td: [
        {
          param: '5m',
          text: 'Past 5m'
        }, {
          param: '15m',
          text: 'Past 15m'
        }, {
          param: '1h',
          text: 'Past 1h'
        }, {
          param: '6h',
          text: 'Past 6h'
        }, {
          param: '12h',
          text: 'Past 12h'
        }, {
          param: '24h',
          text: 'Past 24h'
        }, {
          param: '2d',
          text: 'Past 2d'
        }, {
          param: '7d',
          text: 'Past 7d'
        }, {
          param: '15d',
          text: 'Past 15d'
        }, {
          param: '30d',
          text: 'Past 30d'
        }
      ],
      check_wait: false,
      province: province,
      branch: [],
      station_code: [],
      station_type: [],
      station_name: [],
      device_code: [],
      name: [],
      code: [],
      urlLink: 'http://thingboard.iotdma.info/',
      dDataE: Object,
      isAddDevice: false,
      text_action: '',
      device_id: '',
      update_device_status: {
        status: false,
        col: 12
      },
      box_class_name: {
        name: 'info',
        text: 'SAVE'
        // danger for delete
        // warning for update
        // default
      },
      var_disabled: false,
      payload_delete: 'Confirm Delete Device',
      message_for_user: '',
      table: {
        raw_data: [],
        fields: [],
        datas: [],
        fields_raw: [],
        datas_raw: [],
        selected_area: '',
        selected_branch: '',
        selected_branch_code: '',
        selected_station_code: '',
        selected_station_type: '',
        selected_station_name: '',
        selected_device_code: '',
        selected_name: '',
        selected_code: '',
        selected_val: [],
        temp_data: []
      }
    }
  },
  computed: {
    // appenddDataE () {
    //   // this.dDataE.device_name.push('--- Insert Device ---')
    // }
  },
  mounted() {
    this.render_load()
  },
  methods: {
    timeChanged() {
      var start = moment(this.start_datetime, 'YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      var stop = moment(this.stop_datetime, 'YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      if (stop.diff(start, 'Minutes') < -1) {
        this.check_diff_time = true
        this.check_diff_time_mess = '* กรุณาเลือกเวลาใหม่'
      } else {
        this.check_diff_time = false
        this.check_diff_time_mess = ''
      }
    },
    select_init () {
      if (window.localStorage.getItem('show_raw_startdate') === null) {
        this.show_raw_startdate = ''
      } else {
        this.show_raw_startdate = window.localStorage.getItem('show_raw_startdate')
      }
      if (window.localStorage.getItem('show_raw_stopdate') === null) {
        this.show_raw_stopdate = ''
      } else {
        this.show_raw_stopdate = window.localStorage.getItem('show_raw_stopdate')
      }
      //       window.localStorage.setItem('show_raw_startdate', this.table.datas[index][1])
      // window.localStorage.setItem('show_raw_startdate', this.table.datas[index][2])
      // check time
      if (window.localStorage.getItem('stop_date') === null) {
        this.stop_datetime = moment(new Date()).format('YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      } else {
        this.stop_datetime = moment(window.localStorage.getItem('stop_date')).add(-7, 'hours').format('YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      }
      if (window.localStorage.getItem('start_date') === null) {
        this.start_datetime = moment(new Date()).add(-(24 * 3), 'hours').format('YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      } else {
        this.start_datetime = moment(window.localStorage.getItem('start_date')).add(-7, 'hours').format('YYYY-MM-DDTHH:mm:ss.SSS+00:00')
      }
      // set [ area ]
      if (window.localStorage.getItem('selected_area') === null) {
        this.table.selected_area = ''
      } else {
        this.table.selected_area = window.localStorage.getItem('selected_area')
        // this.area_change()
        this.branch = (province[this.table.selected_area].ww_all)
        this.table.selected_branch = 0
      }
      // set [ branch_code ]
      if (window.localStorage.getItem('branch_code') === null) {
        this.table.selected_branch = ''
      } else {
        this.table.selected_branch = window.localStorage.getItem('branch_code')
        console.log('show branch code')
        console.log(this.table.selected_branch_code)
        // this.branch_change()
      }
      // set [ station_code ]
      if (window.localStorage.getItem('station_code') === null) {
        this.table.selected_station_code = ''
      } else {
        this.table.selected_station_code = window.localStorage.getItem('station_code')
        // this.fn_station_code()
      }
      // set [ station_type ]
      if (window.localStorage.getItem('station_type') === null) {
        this.table.selected_station_type = ''
      } else {
        this.table.selected_station_type = window.localStorage.getItem('station_type')
        // this.fn_station_type()
      }
      // set [ station_name ]
      if (window.localStorage.getItem('station_name') === null) {
        this.table.selected_station_name = ''
      } else {
        this.table.selected_station_name = window.localStorage.getItem('station_name')
        // this.fn_station_name()
      }
      // set [ device_code ]
      if (window.localStorage.getItem('device_code') === null) {
        this.table.selected_device_code = ''
      } else {
        this.table.selected_device_code = window.localStorage.getItem('device_code')
        // this.fn_device_code()
      }
      // set [ name ]
      if (window.localStorage.getItem('name') === null) {
        this.table.selected_name = ''
      } else {
        this.table.selected_name = window.localStorage.getItem('name')
        // this.fn_name()
      }
      // set [ code ]
      if (window.localStorage.getItem('code') === null) {
        this.table.selected_code = ''
      } else {
        this.table.selected_code = window.localStorage.getItem('code')
        // this.fn_code()
      }
      this.iniiiii_onload()
    },
    iniiiii_onload() {
      var param_json = JSON.parse(window.localStorage.getItem('onload_param'))
      table.field_station({
        'branch_code': param_json.onload_branch_code
      }).then((result_field_station) => {
        // console.log('---------------start--------------------------')
        // console.log(result_field_station)
        // console.log(this.table.selected_area)
        this.station_code = result_field_station.data.station_code
        table.field_type({
          'branch_code': param_json.onload_branch_code,
          'station_code': param_json.onload_station_code
        }).then((result_station_type) => {
          // console.log(result_station_type.data)
          this.station_type = result_station_type.data.station_type
          table.field_type_sub({
            'branch_code': param_json.onload_branch_code,
            'station_code': param_json.onload_station_code,
            'station_type': param_json.onload_station_type
          }).then((result_station_name) => {
            // console.log(result_station_name.data)
            this.station_name = result_station_name.data.station_name
            table.field_deviccode({
              'branch_code': param_json.onload_branch_code,
              'station_code': param_json.onload_station_code,
              'station_name': param_json.onload_station_name,
              'station_type': param_json.onload_station_type
            }).then((result_device_code) => {
              // console.log(result_device_code.data)
              this.device_code = result_device_code.data.device_code
              table.field_devicname({
                'branch_code': param_json.onload_branch_code,
                'station_code': param_json.onload_station_code,
                'station_name': param_json.onload_station_name,
                'station_type': param_json.onload_station_type,
                'device_code': param_json.onload_device_code
              }).then((result_name) => {
                // console.log(result_name.data)
                this.name = result_name.data.name
                table.field_param({
                  'branch_code': param_json.onload_branch_code,
                  'station_code': param_json.onload_station_code,
                  'station_name': param_json.onload_station_name,
                  'station_type': param_json.onload_station_type,
                  'device_code': param_json.onload_device_code,
                  'name': param_json.onload_name
                }).then((result_code) => {
                  // console.log(result_code.data)
                  this.code = result_code.data.code
                })
              })
            })
          })
        })
      })
    },
    area_change () {
      // console.log(province)
      this.branch = (province[this.table.selected_area].ww_all)
      this.table.selected_branch = ''
    },
    async branch_change () {
      var res = await table.field_station({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww
      })
      this.station_code = res.data.station_code
      this.table.selected_station_code = ''
      // console.log(res)
    },
    async fn_station_code() {
      var res = await table.field_type({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'station_code': this.station_code[this.table.selected_station_code]
      })
      this.station_type = res.data.station_type
      this.table.selected_station_type = ''
      // console.log(res)
    },
    async fn_station_type() {
      var res = await table.field_type_sub({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'station_code': this.station_code[this.table.selected_station_code],
        'station_type': this.station_type[this.table.selected_station_type]
      })
      this.station_name = res.data.station_name
      this.table.selected_station_name = ''
      // console.log(res)
    },
    async fn_station_name() {
      var res = await table.field_deviccode({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'station_code': this.station_code[this.table.selected_station_code],
        'station_type': this.station_type[this.table.selected_station_type],
        'station_name': this.station_name[this.table.selected_station_name]
      })
      this.device_code = res.data.device_code
      this.table.selected_device_code = ''
      // console.log(res)
    },
    async fn_device_code() {
      var res = await table.field_devicname({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'station_code': this.station_code[this.table.selected_station_code],
        'station_type': this.station_type[this.table.selected_station_type],
        'station_name': this.station_name[this.table.selected_station_name],
        'device_code': this.device_code[this.table.selected_device_code]
      })
      this.name = res.data.name
      this.table.selected_name = ''
      // console.log(res)
    },
    view_raw_data_onload(index) {
      console.log(this.table.datas[index])
      window.localStorage.setItem('view_raw', index)
      window.localStorage.setItem('show_raw_startdate', this.table.datas[index][1])
      window.localStorage.setItem('show_raw_stopdate', this.table.datas[index][2])
      window.location.reload()
    },
    async fn_name() {
      var res = await table.field_param({
        'branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'station_code': this.station_code[this.table.selected_station_code],
        'station_type': this.station_type[this.table.selected_station_type],
        'station_name': this.station_name[this.table.selected_station_name],
        'device_code': this.device_code[this.table.selected_device_code],
        'name': this.name[this.table.selected_name]
      })
      this.code = res.data.code
      this.table.selected_code = ''
      console.log(res)
    },
    async fn_code() {
    },
    dt_change () {
      console.log(this.select_td[this.selected_td])
    },
    confirm_select() {
      window.localStorage.setItem('onload_param', JSON.stringify({
        'onload_branch_code': province[this.table.selected_area].ww_all[this.table.selected_branch].ww,
        'onload_station_code': this.station_code[this.table.selected_station_code],
        'onload_station_type': this.station_type[this.table.selected_station_type],
        'onload_station_name': this.station_name[this.table.selected_station_name],
        'onload_device_code': this.device_code[this.table.selected_device_code],
        'onload_name': this.name[this.table.selected_name],
        'onload_code': this.code[this.table.selected_code]
      }))
      window.localStorage.setItem('selected_area', this.table.selected_area)
      window.localStorage.setItem('branch_code', this.table.selected_branch)
      window.localStorage.setItem('station_code', this.table.selected_station_code)
      window.localStorage.setItem('station_type', this.table.selected_station_type)
      window.localStorage.setItem('station_name', this.table.selected_station_name)
      window.localStorage.setItem('device_code', this.table.selected_device_code)
      window.localStorage.setItem('name', this.table.selected_name)
      window.localStorage.setItem('code', this.table.selected_code)
      window.localStorage.setItem('start_date', this.start_datetime)
      window.localStorage.setItem('stop_date', this.stop_datetime)
      window.location.reload()
    },
    show_modal () {
      this.$modal.show('dialog', {
        // title: 'Alert!',
        // text: 'You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>You are too awesome<br>',
        buttons: [
          {
            title: 'Confirm',
            handler: () => {
              console.log('confirm')
            }
          },
          {
            title: 'Close'
          }
        ]
      })
    },
    view_raw_data(index) {
      this.table.fields_raw[0] = '#'
      this.table.fields_raw[1] = 'DATE'
      this.table.fields_raw[2] = 'VALUE'
      var tttt = []
      console.log('this.table.raw_data')
      console.log(this.table.raw_data)
      this.table.raw_data[index].forEach((item, index) => {
        var a = []
        a[0] = index + 1
        a[1] = moment(item.date).add(-7, 'hours').format('YYYY/MM/DD HH:mm:ss')
        a[2] = item.value
        tttt.push(a)
      })
      this.table.datas_raw = tttt
      console.log(this.table.raw_data)
    },
    async render_load () {
      this.select_init()
      var res = await table.find_aggregat({
        'branch_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_branch_code,
        'station_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_code,
        'station_type': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_type,
        'station_name': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_name,
        'device_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_device_code,
        'name': JSON.parse(window.localStorage.getItem('onload_param')).onload_name,
        'code': JSON.parse(window.localStorage.getItem('onload_param')).onload_code,
        'start_time': window.localStorage.getItem('start_date'),
        'end_time': window.localStorage.getItem('stop_date')
      }, this.$store.state.token)
      console.log(res.data)
      if (res.status === 200 && (res.data.Aggregation_.length !== 0)) {
        this.check_wait = true
      }
      console.log(JSON.stringify({
        'branch_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_branch_code,
        'station_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_code,
        'station_type': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_type,
        'station_name': JSON.parse(window.localStorage.getItem('onload_param')).onload_station_name,
        'device_code': JSON.parse(window.localStorage.getItem('onload_param')).onload_device_code,
        'name': JSON.parse(window.localStorage.getItem('onload_param')).onload_name,
        'code': JSON.parse(window.localStorage.getItem('onload_param')).onload_code,
        'start_time': window.localStorage.getItem('start_date'),
        'end_time': window.localStorage.getItem('stop_date')
      }))
      this.table.fields[0] = '#'
      this.table.fields[1] = 'Time Start'
      this.table.fields[2] = 'Time Stop'
      this.table.fields[3] = 'Min'
      this.table.fields[4] = 'Max'
      this.table.fields[5] = 'AVG'
      this.table.fields[6] = 'ดูข้อมูลดิบ'
      res.data.Aggregation_.forEach((item, index) => {
        this.table.raw_data[index] = item.value.sort((a, b) => b.date - a.date)
        var a = []
        a[0] = index + 1
        // a[1] = moment(item.date_start).format('llll')
        // a[2] = moment(item.date_end).format('llll')
        a[1] = moment(item.date_start).add(-7, 'hours').format('YYYY/MM/DD HH:mm:ss')
        a[2] = moment(item.date_end).add(-7, 'hours').format('YYYY/MM/DD HH:mm:ss')
        a[3] = item.min.toFixed(4)
        a[4] = item.max.toFixed(4)
        a[5] = item.avg.toFixed(4)
        a[6] = 'RawData'
        this.table.datas.push(a)
      })
      console.log('========================================================')
      console.log(this.table.fields)
      console.log(this.table.datas)
      if (window.localStorage.getItem('view_raw') !== null) {
        this.view_raw_data(window.localStorage.getItem('view_raw'))
      } else {
        this.view_raw_data(0)
        this.show_raw_startdate = this.table.datas[0][1]
        this.show_raw_stopdate = this.table.datas[0][2]
      }
      this.$nextTick(() => {
        $('#example1').DataTable({'lengthMenu': [[10, 50, -1], [10, 50, 'All']]})
        $('#raw_data').DataTable({'lengthMenu': [[10, 50, -1], [10, 50, 'All']]})
      })
    }
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
  .box-info{
    border-color: #166a99 !important;
  }
  .border-insert-device{
    margin-top: 30px;
    border: solid 2px #166a99;
    border-radius: 4px;
  }
</style>
<style scoped>
    .hover-table-row:hover {
      background-color: #4da7da;
      /* cursor: pointer; */
    }
    .box-title{
        font-size: 2em;
    }
    @import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after {
        font-family: 'FontAwesome';
    }

    table.dataTable thead .sorting:after {
        content: '\f0dc';
    }

    table.dataTable thead .sorting_asc:after {
        content: '\f0dd';
    }

    table.dataTable thead .sorting_desc:after {
        content: '\f0de';
    }
    .link-raw{
      color:darkblue;
      text-decoration: underline;
      -webkit-text-decoration-color: darkblue; /* Safari */  
      text-decoration-color: darkblue;
    }
    .link-raw:hover{
      cursor: pointer;
    }
</style>
