<template>
  <section class="content">
    <div class='row'>
      <div class='col-md-4'>
        <label for="exampleFormControlSelect1">เลือกเขต</label>
        <select class="form-control" id="exampleFormControlSelect1" v-model="slect_branch" @change="branch_chenge">
          <option :value='""' selected>--- เลือกเขต ---</option>
          <option v-for="(item, index) in feilds" :key='index' :value='index'>{{item}}</option>
        </select>
      </div>
      <div class='col-md-4'>
        <!-- <label for="exampleFormControlSelect1">คลิกเพื่อเข้าดูลิ้ง</label> -->
        <br>
        <button class='btn btn-primary' @click='openLine()'>Open new tab</button>
      </div>
    </div>
    <br>

    <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;background-color: #ffffff;"></iframe>
  </section>
</template>

<script>

import apiapp from '@/apis/scada/call'

export default {
  name: 'view',
  components: {
  },
  data () {
    return {
      urlLink: (window.localStorage.getItem('urlLink') || ''),
      feilds: [],
      slect_branch: (window.localStorage.getItem('urlLink_index') || '')
    }
  },
  computed: {
  },
  methods: {
    openLine() {
      window.open(this.urlLink, '_blank')
    },
    branch_chenge () {
      console.log('branch_chenge')
      this.urlLink = 'https://nrwiot.pwa.co.th/scada/#/'
      if (this.slect_branch !== '') {
        console.log(this.feilds[this.slect_branch])
        this.urlLink = 'https://nrwiot.pwa.co.th/scada/#/' + this.feilds[this.slect_branch]
        window.localStorage.setItem('urlLink', this.urlLink)
        window.localStorage.setItem('urlLink_index', this.slect_branch)
        location.reload()
      }
      console.log(this.urlLink)
    }
  },
  async mounted () {
    try {
      var res = await apiapp.svg()
    } catch (err) {
      location.reload()
    }
    console.log(res.status)
    console.log('apiapp')
    console.log(res)
    res.data.forEach((item, index, arr) => {
      console.log(item.station)
      this.feilds.push(item.station)
    })
  }
}
</script>
<style>
  .info-box {
    cursor: pointer;
  }
  .info-box-content {
    text-align: center;
    vertical-align: middle;
    display: inherit;
  }
  .fullCanvas {
    width: 100%;
  }
  .select-content-sidemenu{
    height: 50px;
    font-size: 24px;
    text-align: center;
    
  }
  .label-content-sidemenu{
    height: 20px;
    /* font-size: 20px; */
    text-align: center;
  }
</style>
